.container {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    margin-bottom: 100px;
}
.cardsContainerMain {
    width: 100%;
    text-align: left;
}
.title {
    color: #3A7F88;
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
}
.cardsContainer {
    display: inline-flex;
    gap: 24px;
}
.checkboxContainer {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.numberFieldContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        margin-top: 20px;
    }

    .title {
        font-size: 1.5rem;
        text-align: center;
    }

    .cardsContainerMain {
        width: calc(100% - 30px);
        text-align: center;
    }

    .cardsContainer {
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }

    .numberFieldContainer {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    /* Дополнительные стили для лучшего отображения на мобильных устройствах */
    section {
        width: 100%;
    }

    section h2 {
        text-align: center;
        margin-bottom: 15px;
    }
}