.container {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 100vh; */
    margin-bottom: 100px;
}
.title {
    color: #3A7F88;
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
}
.inputContainer {
    width: calc(100% - 40px);
    text-align: left;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: end;
    text-align: left;
}
.stilobatContainer {
    display: flex;
    flex-direction: column;
}
.annexContainer {
    display: flex;
    flex-direction: column;
}
.sectionContainer {
    display: flex;
    flex-direction: column;
}

.techCheckboxRow {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.finalCorpusQuestion {
    width: calc(100% - 40px);
    border: 1px solid #3A7F88;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.leftPart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightPart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

@media (max-width: 1100px) {
    .finalCorpusQuestion {
       display: flex;
       flex-direction: column;
    }
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr;
        gap: 14px;
    }
}