.container {
    padding: 0 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
    margin-bottom: 100px;
}

.title {
    color: #3A7F88;
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
}

.checkboxContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 20px;
    text-align: left;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        margin-top: 20px;
    }

    .checkboxContainer {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px);
        text-align: left;
    }

    .title {
        font-size: 1.5rem;
        text-align: center;
    }
}