<p align=center><b>Уважаемый пользователь!</b></p>

<p>Вы запросили изменение адреса электронной почты для учетной записи в системе Script Engineering.</p>
<p>Чтобы подтвердить смену электронной почты на <a href="mailto:"> {{ change_email }} </a> используйте код <b>{{ change_keyword }}</b>.</p>

<p>Если запрос был создан не Вами проигнорируйте это сообщение.</p>
<p>Данное сообщение отправлено автоматически, пожалуйста, не отвечайте на него.</p>

<p>С уважением</p>
<p>Служба технической поддержки Script Engineering</p>
