<p align=center><b>Уважаемый пользователь!</b></p>

<p>Вами была подана заявка на восстановление пароля учетной записи <a href="mailto:"> {{ recovery_email }} </a> в системе Script Engineering.</p>
<p>Используйте код <b> {{ recovery_keyword }} </b>, чтобы сбросить пароль и восстановить доступ к системе.</p>
<p>Если Вы не подавали заявку на восстановление пароля, проигнорируйте это сообщение.</p>
<p>Данное сообщение отправлено автоматически, пожалуйста, не отвечайте на него.</p>

<p>С уважением</p>
<p>Служба технической поддержки Script Engineering</p>
