.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 50px 20px 20px 20px;
  position: relative;
  width: calc(100% - 40px);
}

.header {
  color: #3A7F88 !important;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat';
  margin-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  flex: 1;
  max-height: 650px;
  overflow-y: auto;
  padding-right: 15px;
  width: 95%;
  
  /* Кастомизация скролла */
  scrollbar-width: thin;
  scrollbar-color: #3A7F88 #F7F7F7;
  transition: max-height 0.3s ease;
}

.gridContainer.expanded {
  max-height: none;
  overflow-y: visible;
}

.gridContainer::-webkit-scrollbar {
  width: 8px;
}

.gridContainer::-webkit-scrollbar-track {
  background: #F7F7F7;
  border-radius: 5px;
}

.gridContainer::-webkit-scrollbar-thumb {
  background-color: #3A7F88;
  border-radius: 5px;
}

.expandButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #0066CC;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  z-index: 10;
}

.expandButton:hover {
  background-color: rgba(0, 102, 204, 0.05);
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}